<h1>PART 1</h1>

In [4]:
# dictionary with the cuarrent portfolio prices
portfolio_prices = {'BTC': 43285.15,
                'ETH': 2318.09,
                'ADA': 0.520212,
                   'AMZN': 171.81,
                   'TSLA': 187.91,
                   'AAPL':185.85 }
portfolio_prices

{'BTC': 43285.15,
 'ETH': 2318.09,
 'ADA': 0.520212,
 'AMZN': 171.81,
 'TSLA': 187.91,
 'AAPL': 185.85}

In [5]:
# Pandas series created using the crypto_prices dictionary
import pandas as pd
import numpy as np
portfolio_prices_series = pd.Series(data= portfolio_prices)
portfolio_prices_series

BTC     43285.150000
ETH      2318.090000
ADA         0.520212
AMZN      171.810000
TSLA      187.910000
AAPL      185.850000
dtype: float64

In [6]:
# Portfolio holdings
security_assets = pd.Series(data={'BTC': 3,
                'ETH': 10,
                'ADA': 1000,
                   'AMZN': 20,
                   'TSLA': 20,
                   'AAPL': 5 })
security_assets

BTC        3
ETH       10
ADA     1000
AMZN      20
TSLA      20
AAPL       5
dtype: int64

In [9]:
# portfolio value
security_assets_value = security_assets * portfolio_prices_series
security_assets_value

BTC     129855.450
ETH      23180.900
ADA        520.212
AMZN      3436.200
TSLA      3758.200
AAPL       929.250
dtype: float64

In [27]:
print('Total portfolio value = ${}'.format(security_assets_value.sum()))

Total portfolio value = $161680.21200000003

<h1>PART 2</h1>

In [34]:
#Load data from S&P500 file into a dataframe
sp500 = pd.read_csv("Panda project 1/S&P500_Prices.csv")
print(sp500)

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [35]:
type(sp500)

pandas.core.frame.DataFrame

In [40]:
# convert dataframe into a series
sp500_series = sp500.squeeze('columns')
print(sp500_series)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [41]:
type(sp500_series)

pandas.core.series.Series

In [42]:
sp500_series.max()

3386.149902

In [43]:
sp500_series.min()

1278.040039

In [44]:
sp500_series.mean()

2218.7495540592868

In [51]:
sp500_series = sp500_series.sort_values()
print(sp500_series)

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [53]:
sp500_series = sp500_series.sort_values(ascending=False)
print(sp500_series)

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

In [55]:
sp500_series.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [68]:
print("The Standard deviation is: ", sp500_series.std())

The Standard deviation is:  537.321726887476

In [61]:
3349 in sp500_series.values

False

In [66]:
3349 in sp500_series.round().values

True

In [72]:
my_series = pd.Series(data = [-100, 100, -300, 50, 100])
abs(my_series)

0    100
1    100
2    300
3     50
4    100
dtype: int64